<section class="banner event-banner">
    <div class="banner-heading"><h1 class="main-heading">Events</h1>
    <p class="sub-heading">Earth and sky, woods and fields, lakes and rivers are excellent schoolmasters and teach us more than we ever learn from books
        .There is no Wi-Fi in the mountains, but you will find no better connection than this.</p></div>
  </section>
  <section>
    <div class="container">
        <div class="payment">
            <h3>You have Succssfully registered to the event!</h3>
            <p>Thank You! Event details will be emailed you shortly!</p>
        </div>
    </div>
  </section>