.env
node_modules
public/images/_MG_2134.JPG
public/images/_MG_2257.JPG
public/images/3786749-removebg-preview.png
public/images/5467041-1280_148200768-northern-cardinal_l-removebg-preview.png
public/images/1673539893984--Frame 3.png
public/images/aaron-burden-yzgF-AQt1sQ-unsplash.jpg
public/images/activity1.jpg
public/images/activity2.jpg
public/images/activity3.jpg
public/images/benjamin-davies-Zm2n2O7Fph4-unsplash.jpg
public/images/birds-19624.mp3
public/images/birds-chirping-04-6771.mp3
public/images/Birdsong_logo_0.5x_edited-removebg-preview.png
public/images/Birdsong_logo_0.5x_edited.png
public/images/Birdsong_logo_0.5x.png
public/images/Birdsong_logo_0.75x.png
public/images/Birdsong_logo.png
public/images/Birdsong_yellow_small-removebg-preview.png
public/images/Birdsong_yellow-removebg-preview.png
public/images/Birdsong_yellow.png
public/images/cardinal-37075 (1).mp3
public/images/cardinal-37075.mp3
public/images/deepak-nautiyal-KN-tHM5ulF8-unsplash.jpg
public/images/DSC_0026.JPG
public/images/ethan-robertson-P86-JPbDnPY-unsplash.jpg
public/images/florian-hahn-tHbt8-7p4eM-unsplash.jpg
public/images/footerImage.png
public/images/hamza-dildar-JP5QXAlnYpU-unsplash.jpg
public/images/hans-veth-EJ0CeUv6Jmg-unsplash.jpg
public/images/Indian Bush Lark 2.jpg
public/images/Java Industrial Training.png
public/images/krystal-ng-jRp60R7ogNQ-unsplash.jpg
public/images/logo_0.5_resized.jpg
public/images/logo_0.5.png
public/images/mark-harpur-K2s_YE031CA-unsplash.jpg
public/images/marko-blazevic-hcVtC5pgZTY-unsplash.jpg
public/images/mixkit-flock-of-wild-geese-20.wav
public/images/nahil-naseer-xljtGZ2-P3Y-unsplash.jpg
public/images/newLogo-removebg-preview.png
public/images/newLogo.png
public/images/Night_heron-VAIJU APHALE004.jpg
public/images/saketh-upadhya-ItNSbMe6GzM-unsplash.jpg
public/images/sparrow.jpg
public/images/user.jpg
public/images/vincent-van-zalinge-MM2bY4W7G2Y-unsplash-removebg-preview.png
public/images/icons/dslr-camera.png
public/images/icons/speaker-filled-audio-tool.png
public/images/icons/symbols.png
public/sounds/cardinal-37075.mp3
soundFiles/birds-19624.mp3
soundFiles/birds-chirping-04-6771.mp3
soundFiles/cardinal-37075.mp3
